.navbar-light .navbar-brand {
  margin-left: 20px;
}

header {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
}

.navbar.navbar-light.navbar-expand-md {
  vertical-align: middle;
  margin-left: 10px;
}

#logo {
    height: 100px;
    width: 120px;
    margin-bot:20px;
    padding: 0px;
    
}

.div_logo{
    paddig:0px;
}